
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logo</title>
    <link href="logo-social" rel="icon">
    <link href="indexstyle.css" rel="stylesheet">
</head>
<body>


<div class="container">
    <div class="Site-Name">
        <h1>Simple</h1>
    </div>
    <div class="Menu-Item-1">
        <a href="https://www.w3schools.com/">W3 Schools 1</a>
    </div>
    <div class="Menu-Item-2">
        <a href="https://oracle.com/">Java</a>
    </div>
    <div class="Menu-Item-3">
        <a href="https://www.springboot.com/">SpringBoot</a>
    </div>
    <div class="empty">

    </div>
    <div class="Login">
        <a href="login1.html">Login</a>
    </div>
    <div class="Main-Header">
        <h2>  HeadLine</h2>
    </div>
    <div class="empty2">

    </div>
    <div class="Sub-Text">
        <p>Some Paragraph text below the headline</p>
    </div>
    <div class="Article-1">
        <h3>Article Headline</h3>
        <p>Paragraph text 1</p>
        <p>Paragraph text 2</p>
        <p>Paragraph text 3</p>
        <p>Paragraph text 4</p>
    </div>
    <div class="Article-2">
        <h3>Article HeadLine</h3>
        <p>Paragraph text 1</p>
        <p>Paragraph text 2</p>
    </div>
    <div class="Side-Content" >
        <h3>HeadLine for aside</h3>
        <ul>
            <li><b>nation 1</b>
                <ol>
                    <li>city 1M</li>
                    <li>city 400k</li>
                    <li>city 223k</li>
                </ol>
            </li>
            <li><b>nation 2</b>
                <ol>
                    <li>city 5M</li>
                    <li>city 2M</li>
                    <li>city 621k</li>
                </ol>
            </li>
            <li><b>nation 3</b>
                <ol>
                    <li>city 10M</li>
                    <li>city 7M</li>
                    <li>city 3M</li>
                </ol>
            </li>


        </ul>

    </div>
    <div class="footer">
        <footer>
            © Anusha Yenugu
        </footer>
    </div>

</div>
</body>
</html>
